*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.navbar{
    background-color: #aa896d;
}

/* header{
    width: 100%;
    height: 200px;
    background-color: #aa896d;
} */
#muebles{
    display: flex;   
}

.card{
    padding: 24px;
}

.nav{
    padding-bottom: 30px;
}

.nav-link{
    color: rgb(122, 112, 112);
}
