*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.logoCarrito {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    height: auto;
    background-color: #000000ce;
}
    
.logo { 
    width: 70%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    padding: 10px 20px;
}

.carrito { 
    width: 30%;
    color: white;
    padding: 10px 40px;
}

.boton1{
    padding: 10px;
}


.imgCarrito {
    padding: 2px;
    font-size: 17px;
}

#muebles{
    display: flex;   
}

.card{
    padding: 24px;
}

.nav{
    padding-bottom: 30px;
}

.nav-link{
    color: #000000ce;
}
